*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* general rules */
body{
    background-color: brown;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

button{
    font-size: 20px;
    font-weight: 600;
    color:#000000;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
}
input.input-formatting{
    padding: 7px 30px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}
/* /general rules */





/* sezione container form */
.container-form{
    background-color: rgba(00,00,00,0.5);
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 3px rgba(00,00,00,0.5);
}
 
.container-form .container-title{
    padding: 10px;
    width: 100%;
    text-align: center;
}
/* /sezione container form */





/* sezione user input */

.user-input{
    width: 100%;
    text-align: center;

}
.user-input button#invio{
    margin-bottom: 20px;
}


.user-input #input{
    margin: 20px 0;
    width: 300px;
    color: black;
}
.user-input button#invia{
    margin: 5px 0;
}
/* /sezione user input */




/* sezione termina gioco */

.termina-gioco{
    text-align: center;
    margin: 10px 0;
}
.termina-gioco button{
    margin: 10px 0;
}
/* /sezione termina gioco */

/* footer section */
footer{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-top: 20px;
    color:black;
}
/* /footer section */